.solution__wrapper > h1 {
  font-size: 5.7rem;
  text-align: center;
  color: #222222;
  font-weight: 600;
  margin-bottom: 9rem;
}
.solution__wrapper--grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.8rem;
}

.solution__grid-item {
  display: flex;
  align-items: left;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 1.2rem 1.6rem -4px rgba(16, 24, 40, 0.08),
    0 0.4rem 0.6rem -0.2rem rgba(16, 24, 40, 0.03);
  border-radius: 0.8rem;
  padding: 3.2rem 2.4rem;
  margin: 0 auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.solution__grid-item:hover {
  transform: translateY(-5%);
}
.solution__grid-item > img {
  width: 100%;
}
.solution__grid-item > h4 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 3.2rem;
  color: var(--color-black);
  margin-bottom: 1.6rem;
}
.solution__grid-item > p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: rgba(30, 30, 30, 0.77);
  margin-bottom: 1.2rem;
}
.solution__grid-item a:link,
.solution__grid-item a:visited {
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-weight: 600;
}
@media (max-width: 1370px) {
  .solution__wrapper {
    gap: 4rem;
  }
}
@media (max-width: 1100px) {
  .solution__wrapper > h1 {
    margin-bottom: 5rem;
  }
  .solution__wrapper--grid-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .solution__grid-item {
    max-width: 100%;
  }
  .solution__grid-item:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 50%;
  }
}
@media (max-width: 715px) {
  .solution__wrapper > h1 {
    font-size: 4.2rem;
    margin-bottom: 2.5rem;
  }
  .solution__wrapper--grid-items {
    grid-template-columns: 1fr;
  }
  .solution__grid-item:nth-child(3) {
    grid-row: unset;
    grid-column: unset;
    width: 100%;
  }
}
@media (max-width: 524px) {
  .solution__wrapper > h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .solution__grid-item {
    padding: 2.4rem 2rem;
  }
}
@media (max-width: 472px) {
  .solution__wrapper > h1 {
    font-size: 3.2rem;
  }
}
