.pricing {
  margin-top: 4rem;
}
.pricing__header {
  display: flex;
  justify-content: space-between;
  gap: 13rem;
}
.pricing__header--description {
  max-width: 55.6rem;
}
.pricing__header--description > p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.3rem;
  margin-bottom: 2rem;
}
.pricing a:link,
.pricing a:visited {
  font-size: 1.6rem;
  color: var(--secondary-color);
  font-weight: 600;
}
.pricing__header h1 {
  font-size: 5.9rem;
  display: inline-block;
  max-width: 61rem;
  font-weight: 600;
  margin: 0;
  color: var(--color-black);
}
.pricing__items {
  display: grid;
  padding: 1.5rem 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.pricing__item > img {
  width: 100%;
}
.pricing__item > h5 {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 1rem 0;
  font-family: 'Poppins', serif;
}

@media (max-width: 1100px) {
  .pricing__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    row-gap: 5rem;
    margin-top: 2.5rem;
  }

  .pricing__header {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .pricing__header > h1 {
    font-size: 4.2rem;
    max-width: 100%;
  }
  .pricing__header--description {
    max-width: 100%;
  }
  .pricing__item:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 715px) {
  .pricing {
    margin-top: 2rem;
  }
  .pricing__items {
    grid-template-columns: 1fr;
  }
  .pricing__item:nth-child(3) {
    grid-column: unset;
    grid-row: unset;
    width: 100%;
  }

  .pricing__header > h1 {
    font-size: 3.8rem;
  }
}
