:root {
  --primary-color: #dedeed;
  --secondary-color: #525298;
  --text-color: #262626;
  --color-black: #000;
  --color-white: #ffff;
  --light-text-color: #666666;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  font-family: 'Inter', serif;
}
section {
  padding: 10rem 0;
}
.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.utility__heading {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6.8rem;
  margin-bottom: 2rem;
}
.utility__summary {
  font-size: 2rem;
  line-height: 3.6rem;
  color: #686868;
  margin-bottom: 3.1rem;
}
.utility--flex {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 15rem;
}
.utility--flex a:link,
.utility--flex a:visited {
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 2.4rem;
}
.utility--flex img {
  width: 100%;
}

.util__textbox {
  padding-top: 8rem;
}
