:root {
  --primary-color: #dedeed;
  --secondary-color: #525298;
  --text-color: #262626;
  --color-black: #000;
  --color-white: #ffff;
  --light-text-color: #666666;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-size: 1.4rem;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: 'Inter', serif;
}
section {
  padding: 10rem 0;
}
.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.utility__heading {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6.8rem;
  margin-bottom: 2rem;
}
.utility__summary {
  font-size: 2rem;
  line-height: 3.6rem;
  color: #686868;
  margin-bottom: 3.1rem;
}
.utility--flex {
  display: flex;
  gap: 12rem;
}
.utility--flex a:link,
.utility--flex a:visited {
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 2.4rem;
  transition: color 0.3s;
}
.utility--flex img {
  width: 100%;
  height: 100%;
}

.util__textbox {
  padding-top: 8rem;
  width: 50%;
}
.secondary__heading {
  font-size: 5.9rem;
  font-weight: 600;
  line-height: 7.9rem;
}

@media (max-width: 1370px) {
  html {
    font-size: 58%;
  }
  .utility--flex {
    gap: 8rem;
  }

  .util__textbox {
    padding-top: 8rem;
  }
  .utility__heading {
    margin-bottom: 1.5rem;
  }
  .utility--flex {
    grid-template-columns: 1fr 1.15fr;
  }
}
@media (max-width: 1250px) {
}
@media (max-width: 1100px) {
  .utility--flex {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .utility--flex__col-reverse {
    flex-direction: column-reverse;
  }
  .util__textbox {
    width: 100%;
    padding-top: 0;
  }

  .secondary__heading {
    font-size: 4.2rem;
    line-height: unset;
  }

  section {
    padding: 5rem 0;
  }
}
@media (max-width: 715px) {
  .container {
    padding: 0 2.8rem;
  }
  .utility__heading {
    font-size: 3.8rem;
    line-height: 1.4;
  }
  .utility__summary,
  .utility--flex a:link,
  .utility--flex a:visited {
    font-size: 1.8rem;
  }
  br {
    display: none;
  }
  .secondary__heading {
    font-size: 4rem;
  }
}
@media (max-width: 472px) {
  section {
    padding: 2.5rem 0;
  }
  .container {
    padding: 0 1.8rem;
  }
  .utility--flex {
    gap: 4rem;
  }
  .utility__heading {
    font-size: 2.8rem;
  }
  .utility__summary {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  .utility--flex a:link,
  .utility--flex a:visited {
    font-size: 1.6rem;
  }
  .secondary__heading {
    font-size: 3.5rem;
  }
}
