.banner__container {
  background-color: var(--primary-color);
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: center;
  height: 5rem;
  padding: 0 1rem;
  color: var(--light-text-color);
}
.banner__container > a:link,
.banner__container > a:visited {
  color: var(--secondary-color);
  line-height: 1.7rem;
}
