.cta {
  background-color: var(--primary-color);
  padding: 5.9rem 6.4rem;
  border-radius: 1.2rem;
}

.cta > img {
  margin-bottom: 5.4rem;
}
.cta > p {
  font-weight: 500;
  color: #222222;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}
.cta__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.cta__description > h6 {
  font-size: 6.4rem;
  font-weight: inherit;
  display: inline-block;
}
.cta__description > a:link,
.cta__description > a:visited {
  background-color: #222222;
  padding: 2.4rem 9rem;
  height: fit-content;
  border-radius: 0.6rem;
  text-decoration: none;
  margin-top: auto;
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  color: var(--color-white);
}
@media (max-width: 1100px) {
  .cta {
    padding: 4.8rem 5rem;
  }
  .cta br {
    display: none;
  }
  .cta > img {
    height: 10rem;
  }
  .cta__description > h6 {
    font-size: 4rem;
  }
  .cta__description > a:link,
  .cta__description > a:visited {
    padding: 2.4rem 7rem;
  }
}
@media (max-width: 715px) {
  .cta {
    padding: 3rem;
  }
  .cta > img {
    margin-bottom: 2rem;
  }
  .cta__description > h6 {
    font-size: 3.5rem;
  }
  .cta__description > a:link,
  .cta__description > a:visited {
    padding: 1.8rem 5.5rem;
  }
}
@media (max-width: 472px) {
  .cta {
    padding: 3rem 1.8rem;
  }

  .cta > img {
    height: 6rem;
    margin-bottom: 2rem;
  }
  .cta > p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .cta__description > h6 {
    font-size: 2.5rem;
  }
  .cta__description > a:link,
  .cta__description > a:visited {
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
  }
}
